/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
  box-sizing: border-box;
}
body{
  background-color: #C7D0D5;
};

a {
  style: inline-block;
}

main{
  background-color: #C7D0D5;
  position: relative;
}

.header{
  margin:0 auto;
  width: 50%;
  text-align: center;
  background-color: #C7D0D5;
  border-radius: 25px;
  text-shadow: 2px 2px #7A9A95;
  position: relative;
}

.saveload{
  width: 300px;
  height: auto;

}

#savename{
  width: 200px;
}

#loadname{
  width: 200px;
  border: solid black 1px;
  float: left;
  min-height: auto;
  max-height: 300px;
  border-radius: 0px;
  background-color: white;
  overflow-y: auto;
}

#savebutton{
  width: 75px;
}

#loadbutton{
  width: 75px;
}

.headerli{
  border: solid black 1px;
  height: auto;
  border: none;
  color: black;
}

header h1{
  color: #FF7148;
  font-size: 50px;
  margin-bottom: 10px;
}

header h2{
  color: #93B1C6;
}

.nav{
  display: inline-block;
  width: 100%;
  background-color: #C7D0D5;
  margin: 0 auto;
  align-self:center;
  text-align: center;
  position: relative;
}

.navbutton{
  width: 160px;
  background-color: #A68572;
  border-radius: 15px;
}

#add{
  float: left;
  margin-left: calc(25% - 80px)
  }

#deal{
  float: right;
  margin-right: calc(25% - 80px)
}

.add{
  position: relative;
  height:0 100% auto;
  width: 100%;
}

.add>.question{
  height: 200px;
  width: 48%;
  margin:1%;
  style: block;
  border: solid blue 1px;
  float: left;
  border-radius: 50px;
  font-size: 20px;
}

.add>.answer{
  height:200px;
  width: 48%;
  margin: 1%;
  style: block;
  border: solid blue 1px;
  float: left;
  border-radius: 50px;
  font-size: 20px;
}

.deal input{
  border-radius: 50px;
  min-height: 200px;
  max-height: auto;
  width: 48%;
  margin:1%;
  style: block;
  border: solid blue 1px;
  float: left;
  background-color: white;
  vertical-align: middle;
  font-size: 20px;
}

h3{
  width: 50%;
  border: solid blue 1px;
  style: inline-block;
  float: left;
  border-radius: 50px;
  background-color: white;
  padding: 5px;
}

#nextCard{
  align-items: flex-end;
}

.selected{
  color: white;
  background-color: #000066
}

.navbar{
  width: 100%;
  height: 20px;
  background-color: #C7D0D5;
  border:none;
  position: relative;
}

#delete{
  margin-left: calc(50% - 55px);
  width: 110px;
  height: 20px;
  position: absolute;
}

#drop_suggestions{
  width: 70px;
  height: 20px;
  margin-left: calc(75% - 35px);
  position: absolute;

}

#flip_card{
  width: 70px;
  height: 20px;
  margin-left: calc(25% - 35px);
  position: absolute;
}

#left_arrow{
  width: 70px;
  margin: auto;
  height: 20px;
  float: left;
  position: absolute;
}

#right_arrow{
  width: 70px;
  margin: auto;
  height: 20px;
  float: right;
  position: relative;
}

body ul{
  width: 50%;
  float: right;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body li{
  min-height: 30px;
  max-height: auto;
  border-radius: 50px;
  border: solid blue 1px;
  margin: 1px;
  background-color: white;
  vertical-align: middle;
  font-size: 15px;
  padding: 5px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
